#card-1 {
    border-radius: 50px;
    background: #212121;
    box-shadow:  8px 8px 16px #181818,
                 -8px -8px 16px #2a2a2a;
}
.card-2 {
    border-radius: 50px;
    background: linear-gradient(145deg, #232323, #1e1e1e);
    box-shadow:  6px 6px 12px #171717,
                 -6px -6px 12px #2b2b2b;
}

body {
    background: #212121;
}