---
import '../styles/global.css';
import Frame from '../layouts/Frame.astro';
import ExpScroll from '@components/ExpScroll.astro';
import CertScroll from '@components/CertScroll.astro';
import CertAccordion from '@components/CertAccordion.astro';
import Profile from '@components/Profile.astro'
import Design from '@components/Design.astro'
import Skills from '@components/Skills.astro'
import Formation from '@components/Formation.astro';
import ExpAccordion from '@components/ExpAccordion.astro';
import FormationAccordion from '@components/FormationAccordion.astro';


const pageTitle = "La mia homepage"
---

<Frame title= {pageTitle} >
    <main class="sm:flex sm:justify-center">
        <div class="bento-container w-full flex justify-center items-center py-8 h-auto sm:max-w-[440px] lg:h-screen lg:max-w-fit ">
            <div class="flex flex-col lg:grid lg:grid-cols-12 lg:grid-rows-2 gap-8 h-full w-full p-4">
                <!-- Profilo -->
                <div id="card-1" class="neu-flat lg:col-span-6 lg:row-span-1 rounded-xl p-4 lg:p-6">
                <Profile/>
                </div>
                <!-- Design -->
                <div id="card-2" class="neu-flat lg:col-span-3 lg:row-span-1 rounded-xl p-6 flex justify-center items-center">
                <Design/>
                </div>
                <!-- Sviluppo -->
                <div id="card-3" class="neu-flat lg:col-span-3 lg:row-span-1 rounded-xl p-6 flex justify-center items-center">
                    <Skills/>
                </div>
                <!-- Formazione -->
                <div id="card-4" class="neu-flat lg:col-span-4 lg:row-span-1 rounded-xl p-6">
                    <Formation/>
                    <FormationAccordion/>
                </div>
                <!-- Esperienza -->
                <div id="card-5" class="neu-flat lg:col-span-4 lg:row-span-1 rounded-xl p-6 lg:flex items-center">
                    <ExpScroll/>
                    <ExpAccordion/>
                </div>
                <!-- Certificazioni -->
                <div id="card-6" class="neu-flat lg:col-span-4 lg:row-span-1 rounded-xl p-6 items-center">
                    <CertAccordion/>
                    <CertScroll/>
                </div>
            </div>
        </div>
    </main>
</Frame>

    <script>
      import "../scripts/menu.js";

    </script>
