---
import '../styles/global.css';
import Frame from '../layouts/Frame.astro';
import fotoProfilo from '../images/foto_profilo.jpg';
import { Smile, CircleAlert } from "lucide-preact";

const pageTitle = "La mia homepage"
---

<Frame title= {pageTitle} >
    <main>
        <div class="bento-container h-screen w-full flex justify-center items-center">
            <div class="grid grid-cols-10 grid-rows-4 gap-12 h-full w-full p-4">
                <div id="card-1" class="col-span-7 row-span-2 rounded-xl flex justify-left items-start p-4 space-x-4">
                    <div class="flex items-center">
                        <div class="p-4">
                            <img class="w-44 rounded-lg aspect-square object-cover ring ring-green-cyber" src={fotoProfilo.src}>
                        </div>
                        <div>
                            <div class="card-2 flex items-center justify-center place-content-between px-4 py-2 w-auto mb-3">
                                <CircleAlert color="red" size={16} />
                                <span class="text-white ml-4 text-xs">
                                    Attualmente occupato
                                </span>
                            </div>
                            <h1 class=" text-white text-2xl font-bold mb-4">Andrea Spuri</h1>
                            <h4 class=" text-white text-xl ">Web Designer</h4>
                        </div>
                    </div>
                </div>
                
                <div id="card-1" class="col-span-3 row-span-2 rounded-xl flex justify-center items-center">
                    <div class="">
                        <h1 class="text-left text-orange-light text-2xl font-bold pb-4">Contatti</h1>
                        <p class="text-white text-lg">Via Vincenzo Petra 151</p>
                        <p class="text-white text-lg">spuriandrea@gmail.com</p>
                        <p class="text-white text-lg">392 3777 387</p>
                        <p class="text-white text-lg">Linkedin</p>
                    </div>
                </div>
                <div id="card-1" class="col-span-3 row-span-1 bg-indigo-200 rounded-xl flex justify-center items-center">Formazione</div>
                <div id="card-1" class="col-span-2 row-span-2 bg-indigo-200 rounded-xl flex justify-center items-center">Grafica</div>
                <div id="card-1" class="col-span-2 row-span-2 bg-indigo-200 rounded-xl flex justify-center items-center">Sviluppo</div>
                <div id="card-1" class="col-span-3 row-span-2 bg-indigo-200 rounded-xl flex justify-center items-center">Certificazioni</div>
                <div id="card-1" class="col-span-3 row-span-1 bg-indigo-200 rounded-xl flex justify-center items-center">Esperienza</div>
            </div>
        </div>
    </main>
</Frame>

    <script>
      import "../scripts/menu.js";
    </script>
