---
import photoShop from '../images/adobe_photoshop.png'
import illustrator from '../images/adobe_illustrator.png'
import inDesign from '../images/adobe_indesign.png'
import figma from '../images/figma.png'
---
    <div id="skills">
        <p class="text-3xl lg:text-xl text-white text-center font-bold">Design</p>
        <div class="neu-up w-auto border border-slate-500/20 mb-4 rounded-xl flex items-center justify-center place-content-between px-6 py-4 lg:px-4 lg:py-2 gap-2 mt-4">
            <img class="w-[12%] 2xl:w-[15%]" src={photoShop.src}/>
            <span class="text-white ml-2 text-base">Photoshop</span>
        </div>
        <div class="neu-up w-auto border border-slate-500/20 mb-4 rounded-xl flex items-center justify-center place-content-between px-6 py-4 lg:px-4 lg:py-2 gap-2 mt-4">
            <img class="w-[12%] 2xl:w-[15%]" src={illustrator.src}/>
            <span class="text-white ml-2 text-base">Illustrator</span>
        </div>
        <div class="neu-up w-auto border border-slate-500/20 mb-4 rounded-xl flex items-center justify-center place-content-between px-6 py-4 lg:px-4 lg:py-2 gap-2 mt-4">
            <img class="w-[12%] 2xl:w-[15%]" src={inDesign.src}/>
            <span class="text-white ml-2 text-base">InDesign</span>
        </div>
        <div class="neu-up w-auto border border-slate-500/20 mb-4 rounded-xl flex items-center justify-center place-content-between px-6 py-4 lg:px-4 lg:py-2 gap-2 mt-4">
            <img class="w-[12%]" src={figma.src}/>
            <span class="text-white ml-2 text-base">Figma</span>
        </div>
    </div>