---
import immoLogo from "../images/immo-neg.png"
import digital360Logo from "../images/digital360-neg.png"
---

<div class="container-exp hidden lg:block">
    <p class="text-xl text-white font-bold mb-4">Esperienza</p>
    <div class="tooltip-exp hidden absolute top-0 right-0 text-xs text-white rounded-md px-2 py-1 border border-500/20">
        Puoi scrollare!
    </div>
    <div class="wrapper px-1 py-2">
        <div class="mb-2 flex items-center">
            <span class="text-2xl text-green-cyber font-bold mr-4">Web Designer</span>
            <div class="neu-up max-w-fit flex lg:w-52 rounded-md border border-slate-100/10 items-center justify-center place-content-between px-4 py-1">
                <span class="text-white text-xs text-center">2024 - att.</span>
            </div>
        </div>
        <span class="neu-inset border border-green-cyber/50 w-24 lg:w-28 rounded-full flex items-center justify-center place-content-between px-2 py-1 mt-1 mb-4">
            <img class="h-[12px] text-center" src={immoLogo.src}>
        </span>
        <ul class="text-white text-sm list-disc list-inside w-full mb-4">
            <li>
                Creazione di User Interface
            </li>
            <li>
                Sviluppo template e temi Wordpress
            </li>
            <li>
                Gestione Design System
            </li>
            <li>
                Integrazione Framework CSS  
            </li>
        </ul>
        <div class="mb-2 flex items-center">
            <p class="text-2xl text-green-cyber font-bold mr-4">Graphic Designer</p>
            <div class="neu-up max-w-fit flex lg:w-52 rounded-md border border-slate-100/10 items-center justify-center place-content-between px-4 py-1">
                <span class="text-white text-xs text-center">2021 - 2024.</span>
            </div>
        </div>
        <span class="neu-inset border border-green-cyber/50 w-24 lg:w-28 rounded-full flex items-center justify-center place-content-between px-2 py-1 mt-1 mb-2">
            <img class="h-[14px] text-center" src={digital360Logo.src}>
        </span>
        <ul class="text-white text-sm list-disc list-inside w-full">
            <li>
                Creatività ADV
            </li>
            <li>
                Sviluppo template DEM
            </li>
            <li>
                Creazione template landing pageq
            </li>
            <li>
                Impaginazione Whitepaper  
            </li>
            <li>
                Gestione siti per eventi aziendali
            </li>
        </ul>
    </div>
    </div>

<style>
.container-exp {
        @apply w-full h-full overflow-hidden relative;
}
.wrapper {
    @apply h-[80%] overflow-y-auto border-y border-slate-500/50 py-4 px-2;
    scrollbar-width: none;
}
</style>

<script>
import $ from 'jquery';

$(document).ready(function() {
// Mostra il tooltip al passaggio del mouse sul div padre
$('.container-exp').hover(
    function() {
        $('.tooltip-exp').fadeIn(200); // Mostra il tooltip

    },
    function() {

        $('.tooltip-exp').fadeOut(200); // Nasconde il tooltip
    }
);

});
</script>