---
import logo from '../images/metz_logo_bianco_tr.png';

---
<div class="bg-gradient-to-t from-purple-dark to-purple-light rounded-full">
    <div class="container px-12 mt-4 mx-auto block md:flex justify-between items-center p-3 border rounded-full border-white">
        <img class="w-16 mx-auto md:mx-0" src={logo.src} alt="A bird sitting on a nest of eggs." />
        <p class="text-white text-base font-bold text-center">Andrea Spuri</p>
    </div>
</div>